  
 
 .main{
   /* border:  1px solid red; */
   width: 100vw;
   height: 200vh;
   display: flex;
   gap: 30px;
   padding: 30px;
   /* position: relative; */
   background-color: rgb(0, 0, 0);
   margin-top: 40px;
   /* background-color: rgb(35, 35, 35); */
 }
 .imgdiv{
   /* border:  1px solid rgb(34, 255, 0); */
   width: 55vw;
   height: 100vh;
   
   display: flex;
   position: fixed; 
   padding: 30px;
   background-color: rgb(44, 43, 43);
   /* margin-top: -10px; */
   gap: 30px;
   /* position: relative; */
 }
 .detailDiv{
   /* border:  1px solid rgb(255, 242, 0); */
   width: 40vw;
    margin-left: 57vw;
   height: auto;
   display: flex;
   background-color: rgb(44, 43, 43);
   flex-direction: column;
   padding: 20px;
   justify-content: start;
   align-items: flex-start;
   align-content: flex-start;
   /* position: relative; */

 }
 .imagess{
    
   width: 8vw;
   height: 60vh;
   justify-content: center;
   border-radius: 5px;
   /* margin: auto; */
   background-color: rgb(255, 255, 255);
   gap: 5px;
   align-content: center;
   /* box-shadow: rgba(255, 254, 254, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
   padding: 5px;
margin-top: 40px;
display: flex;
flex-direction: column
 }
 .curimg{
   /* border: 2px solid rgb(238, 13, 13); */
   width: 33vw;
   height: 75vh;
   border-radius: 10px;
margin-top: -0px;
padding: 20px 20px 20px 20px;
justify-content: center;
/* border: 1px solid red; */
align-content: center;
background-color: rgb(255, 255, 255);
 }
 .curimg img{
  justify-content: center;
align-content: center;
height: 90%;
/* border: 1px solid red; */
width: auto;
margin: auto;
 }
 .imagess div{
  /* border: 1px solid red; */
  width: 100%;
  justify-content: center;
  height: 90%;
  margin: auto;
  
 }
  .imagess div img{
    width: 70px;
    height: 80px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    margin: auto;
  }
   
   .proname{
    /* border: 1px solid red; */
    width: 100%;
    font-weight: 500;
    text-align: start;
    justify-content: center;
    font-size: 25px;
    align-items: flex-start;
    justify-content: start;
    align-content: flex-start;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
   }
   .rating{
    font-weight: 700;
    justify-content: flex-start;
    font-size: 25px;
    color: white;
    border: 1px solid green;
    width: 70px;
    display: flex;
    /* border: 1px solid red; */
    padding: 5px;
    background-color: green;
    justify-content: center;
    align-content: centerc;
    
    border-radius: 10px;
   }
   .rating img{
    width: 25px;
    height: 25px;
   }
   .price{
    color: white;
    justify-content: flex-start;
    margin-top: 20px;
    font-size: 25px;
   }
   .pricedis{
    color: rgb(246, 235, 13);
    text-decoration: line-through;
    margin-left: 20px;
    margin-top: 3px;
   }
   .tex{
    color: rgb(255, 0, 43);
    justify-content: flex-start;
    /* margin-left: -270px; */
    text-decoration: underline;
    letter-spacing: 0.5px;
    /* font-size: 20px; */
   }
   .addtocart{
    width: 200px;
    height: 50px;
    justify-content: center;
     
   margin-top: 30px;
   cursor: pointer;
   border-radius: 10px;
   }
   .addtocart:hover{
    cursor: pointer;
    
   }
   .addtocart p{
    margin: auto;
    color: rgb(254, 251, 251);
    font-size: 30px;
   }
    
.prodit{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
   margin-top: 10px;
}
   .prodit p{
    color: rgb(116, 115, 113);
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
   }
   .prodit h2{
    font-size: 20px;
    text-decoration: underline;
    color: white;
    justify-content: flex-start;
   }
   .des{
    /* border: 1px solid red; */
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 10px;
    text-align: start;
   }
   .del{
    /* border: 1px solid yellow; */
    color: white;
    text-align: start;
    letter-spacing: 1px;
   }
   .del p{
    margin: 1px;
   }
   .del h2{
    font-size: 20px;
    /* text-decoration: underline; */
    color: white;
    justify-content: flex-start;
   }
   .info p{
    color: rgb(116, 115, 113);
   }
   .offer{
    padding: 10px;
    color: rgb(116, 115, 113);
   }

   .offer h2{
    font-size: 20px;
    /* text-decoration: underline; */
    color: white;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
   }
   .offer span{
    color: teal;
    text-decoration: underline;
    font-size: 18px;
   }
    
   .emi{
    text-align: start;
    padding: 10px;
    color: rgb(116, 115, 113);
   }
   .emi h2{
    font-size: 20px;
    text-decoration: underline;
    color: white;
    justify-content: flex-start;

    margin-top: 10px;
    margin-bottom: 10px;
   }
   .shopnow{
    margin-left: 370px;
   }
   .shopnow:hover{
    color:teal;
     
   }